// ALSF-specific profiles
profiles {
  // AWS batch settings
  batch {
    includeConfig 'aws-batch.config'
  }

  // use for development of the workflow
  // input data should be the simulated test data output from OpenScPCA-nf
  dev {
    params {
      config_profile_name        = 'ALSF dev profile'
      config_profile_description = 'ALSF development profile for metafactory'
      outdir                     = 's3://ccdl-scpca-nf-results-testing/metafactory/dev'
    }
    outputDir = params.outdir

    tower {
      enabled         = true
      workspaceId     = '80200402940844'
      reports.enabled = false
    }
  }

  // profile used to test functionality with ScPCA data in sandbox
  scpca_testing {
    params {
      config_profile_name        = 'ScPCA testing profile'
      config_profile_description = 'ScPCA testing profile for metafactory'
      outdir                     = 's3://ccdl-scpca-nf-results-testing/sandbox/metafactory'
    }
    outputDir = params.outdir

    tower {
      enabled         = true
      workspaceId     = '80200402940844'
      reports.enabled = false
    }
  }

  // use for running with all ScPCA samples
  // saves the results to the staging bucket for scpca-nf
  scpca_staging {
    params {
      config_profile_name        = 'ScPCA staging profile'
      config_profile_description = 'ScPCA staging profile for metafactory'
      outdir                     = 's3://ccdl-scpca-nf-results-staging/metafactory'
    }
    outputDir = params.outdir

    tower {
      enabled         = true
      workspaceId     = '80200402940844'
      reports.enabled = false
    }
  }
}
