// profile for wave and fusion filesystem enabled batch pipeline

workDir = 's3://ccdl-scpca-nf-workdir/work'
docker.enabled = true
wave.enabled = true
fusion.enabled = true

aws {
  batch {
    maxTransferAttempts = 3
  }
  region = 'us-east-1'
}

process {
  executor       = 'awsbatch'
  scratch        = 'false'
  resourceLimits = [cpus: 24, memory: 512.GB]
  // AWS Batch can fail a task with no exit code, so we retry on null exit codes and on exit codes that are known to be transient errors
  errorStrategy  = { task.exitStatus in ((130..145) + 104 + (175..177)) || task.exitStatus == null ? 'retry' : 'finish' }
  maxRetries     = 3
  queue          = { task.attempt < 3 ? 'scpca-nf-batch-default-queue' : 'scpca-nf-batch-priority-queue' }

  // switch to priority queue faster for long running jobs
  withLabel: long_running {
    queue = { task.attempt < 2 ? 'scpca-nf-batch-default-queue' : 'scpca-nf-batch-priority-queue' }
  }
}
