/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run the workflow as a stub.

    Use as follows, from the project root:
        nextflow run . -profile stub -stub

----------------------------------------------------------------------------------------
*/

process {
  resourceLimits = [
    cpus: 1,
    memory: '4.GB',
    time: '1.h',
  ]
}

aws.client.anonymous = true

params {
  config_profile_name        = 'Stub profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // Input and output paths for stub profile
  input                      = "${projectDir}/stub/samplesheet.csv"
  input_dir                  = "${projectDir}/stub/data"
  outdir                     = "${projectDir}/stub/results"
}
